{{/* ============================================================
     CENTAUR Homepage
     This file assembles the homepage from reusable sections.
     ============================================================ */}}

{{/* Hero */}}
{{ partial "home/hero.html" . }}

{{/* People */}}
{{ partial "home/people.html" . }}

{{/* Research */}}
{{ partial "home/research.html" . }}

{{/* Seminars (temporary: events.html) */}}
{{ partial "home/events.html" . }}

{{/* Recent Publications */}}
{{ partial "home/publications.html" . }}{{ partial "home/hero.html" . }}

{{ partial "home/research.html" . }}

{{ partial "home/publications.html" . }}

{{ partial "home/people.html" . }}

{{ partial "home/events.html" . }}

{{ partial "home/support.html" . }}
